<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @base_product.name %>
</p>

<%= link_to 'Edit', edit_base_product_path(@base_product) %> |
<%= link_to 'Back', base_products_path %>
